extends layout/main
include partials/classified

block content
    if(classifieds)
        h2 Search result:
        ol.previews-container
            each c in classifieds
                li
                    +preview(c)
