html
    head
    title Zorro del Caribe
    link(rel='stylesheet',href='/public/css/theme.min.css')
    meta(name='viewport',content='width=device-width')
    script(src='public/js/index.min.js', async=true)
body
    include ../partials/banner
    main
        block content
    include ../partials/footer

